<div class="content-wrapper">
  <directive-a is-loaded="viewManager.view1"></directive-a>
  <directive-a is-loaded="viewManager.view2"></directive-a>
  <directive-a is-loaded="viewManager.view3"></directive-a>
  <directive-a is-loaded="viewManager.view4"></directive-a>
  <directive-a is-loaded="viewManager.view5"></directive-a>
  <directive-a is-loaded="viewManager.view6"></directive-a>
  <directive-a is-loaded="viewManager.view7"></directive-a>
  <directive-a is-loaded="viewManager.view8"></directive-a>
  <directive-a is-loaded="viewManager.view9"></directive-a>
  <directive-a is-loaded="viewManager.view10"></directive-a>
  <directive-a is-loaded="viewManager.view11"></directive-a>
  <directive-a is-loaded="viewManager.view12"></directive-a>
  <directive-a is-loaded="viewManager.view13"></directive-a>
  <directive-a is-loaded="viewManager.view14"></directive-a>
  <directive-a is-loaded="viewManager.view15"></directive-a>

</div>
<div class="preview-wrapper">
  <div>
    <label>viewManager | JSON format</label>
    <pre>{{viewManager | json : 2}}</pre>
  </div>
</div>