<div class="content-wrapper">
  <form name="contactForm">
    <div class="field required">
      <label>Contact Name</label>
      <input name="contactName" type="text" ng-model="data.name" required>
    </div>
    <div class="field">
      <label>Age</label>
      <input name="contactAge" type="number" ng-model="data.age" integer>
    </div>
  </form>
</div>
<div class="preview-wrapper">
  <div>
    <label>Data | JSON format</label>
    <pre>{{data | json : 2}}</pre>
  </div>
  <div>
    <label>Form controller $error inspect</label>
    <pre>{{contactForm.$error | json: 2}}</pre>
  </div>
</div>