<div class="content-wrapper">
  <div class="field">
    <label><input type="checkbox" ng-model="isShowContactForm"/>Contact Form</label>
  </div>
  <form name="formCtrl.contactForm" ng-if="isShowContactForm">
    <div class="field required">
      <label>Contact Name</label>
      <input name="contactName" type="text" ng-model="name" required>
    </div>
    <div class="field required">
      <label>Email</label>
      <input name="contactEmail" type="email" ng-model="email" required>
    </div>
    <div class="field">
      <label><input type="checkbox" ng-model="isStudent"/>Student</label>
    </div>
    <div class="field required" ng-show="isStudent">
      <label>Student Code</label>
      <input name="studentCode" type="number" ng-model="studentCode" required integer>
    </div>
    <div class="button-container">
      <button ng-click="formCtrl.showScopeObject()">preview $scope object</button>
    </div>
  </form>
</div>
<div class="preview-wrapper">
  <div>
    <label>Data | JSON format</label>
    <pre>{{data | json : 2}}</pre>
  </div>
  <div>
    <label>Form controller $error inspect</label>
    <pre>{{formCtrl.contactForm.$error | json: 2}}</pre>
  </div>
</div>